@model IEnumerable<Candies.Models.Candy>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Type_of_Candy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Color_of_Candy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Number_of_Candies)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Type_of_Candy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Color_of_Candy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Number_of_Candies)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
